<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>

<form class="vertical" action="{{ path('fos_oauth_server_authorize', {'client_id':client_id, 'response_type':response_type, 'redirect_uri':redirect_uri, 'state':state, 'scope':scope })}}" method="POST">
    <div class="form_title">
        Grant access to {{client.id}}
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}


   <input type="submit" value="Authorize">
   {{ form_end(form) }}
</form>


</body>
</html>